{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load widget_tweaks %}
	<div class="well bs-component">
		<form method="post" class="form-horizontal">{% csrf_token %}
			{% include "messages.html" with messages=form.non_field_errors type='danger' %}
			<fieldset>
				<legend>
					Login
				</legend>
				
				{% include "fields.html" with fields=form %}
				<a href="{% url 'socialauth_begin' 'facebook' %}">Login with Facebook</a>
				<div class="form-group">
					<div class="col-lg-1 col-lg-offset-3">
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
						<a href="{% url "password_reset_recover" %}" class="btn btn-default">Forgot password?</a>
						<input type="hidden" name="next" value="/" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	
{% endblock %}
