{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}

	<div class="well bs-component">
		<form class="form-horizontal" method="post">{% csrf_token %}
			<fieldset>
				{% include "messages.html" with messages=form.non_field_errors type='danger' %}
				{% include "messages.html" with messages=messages type='success' %}
				
				<legend>
					{% trans "Settings" %}
				</legend>
				
				{% include "fields.html" with fields=form %}
				
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-3">
						<button type="submit" class="btn btn-primary">
							{% trans "Update" %}
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

{% endblock %}
