{% extends 'base.html' %}

{% load widget_tweaks %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% blocktrans with username=user_profile.username %}{{ username }}'s Djastebin{% endblocktrans %}
{% endblock %}

{% block content %}

<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header no-margin-top">
				<h3 class="no-margin-top">{{ user_profile.username }}</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>{% blocktrans with date_joined_t=user_profile.date_joined|naturaltime total_pastes_t=total_pastes%}Joined: {{ date_joined_t }} | Total pastes: {{ total_pastes_t }}{% endblocktrans %}</p>
		</div>
	</div>
	{% include "pastes/paste_list.html" with enable_editing=True owner=user_profile %}
</div>

{% endblock %}
