{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Delete paste" %}{% endblock %}

{% block content %}
{% load widget_tweaks %}

	<div class="well bs-component">
		<form method="post" class="form-horizontal">{% csrf_token %}
			<fieldset>
				<legend>
					{% trans "Delete paste" %}
				</legend>
				<p>{% blocktrans with object_t=object %}Are you sure you want to delete "{{ object_t }}"?{% endblocktrans %}</p>
				
				<div class="form-group">
					<div class="col-lg-10">
						<button type="submit" class="btn btn-danger">
							{% trans "Yes" %}
						</button>
						<a class="btn btn-default" href="{% url "show_paste" object.pk %}">
							{% trans "No" %}
						</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	
{% endblock %}
