{% extends 'base.html' %}

{% load widget_tweaks %}
{% load syntax_highlighting %}

{% block title %}{{ paste.title }}{% endblock %}

{% block content %}
	<style> {{ ""|get_css }} </style>
	<div class="bs-docs-section">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header no-margin-top">
					<h3 class="no-margin-top">{{ paste.title }}</h3>
				</div>
				<div class="">
					Language: 
						{% if paste.syntax != 'NONE' %}						
							{{paste.syntax}}
						{% else %} 
							Plaintext
						{% endif %} | 
					Created: {{paste.created}} | 
					Author: 
						{% if paste.author != None %} 
							<a href="{% url "user" paste.author %}">{{paste.author}}</a>
						{% else %} 
							Anonymous 
						{% endif %}  |
					Size: {{paste.size}}kB | Hits: {{paste.hits}} 
					{% if paste.expire_date != None %}
					| Expires: {{paste.expire_date}}
					{% endif %} 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				{% autoescape off %}
				{{ paste.content|syntax_highlight:paste.syntax }}
				{% endautoescape %}
			</div>
		</div>
		{% include "pastes/comments.html" %}
	</div>
{% endblock %}
