{% extends 'base.html' %}

{% block title %}Password recovery{% endblock %}

{% block content %}

	<div class="well bs-component">
		<form method="post" class="form-horizontal">{% csrf_token %}
			<fieldset>
				<legend>
					Password reset confirm
				</legend>
				{% if invalid %}{% url "password_reset_recover" as recovery_url %}
				<div class="alert alert-dismissable alert-{{ type }}">
					<p>Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.</p>
				</div>
				{% else %}
					{% include "fields.html" with fields=form %}
					
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-3">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
						</div>
					</div>
		       {% endif %}
			</fieldset>
		</form>
	</div>
	
{% endblock %}
